.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.historie {
    background: white;
    padding: 2rem;
    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.historie h2{
   color: #0C2340;
}

.profilehead {
    text-decoration: none;
    color: white;
    background: transparent;
    }
.profiletext {
    text-decoration: none;
    color: white;
    background: transparent;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}


